version: '3.8'

services:
  congestion-service:
    build: .
    container_name: congestion-service
    environment:
      - PYTHONUNBUFFERED=1
      - MQTT_BROKER=client-mosquitto
      - MQTT_PORT=1883
      - SIMULATOR_BROKER=stadium-mosquitto
      - SIMULATOR_PORT=1883
      - SIMULATOR_TOPIC=stadium/events/congestion
      - CLIENT_TOPIC=stadium/services/congestion
    networks:
      - congestion-network
      - stadium_network
      - client_network
    restart: unless-stopped
    external_links:
      - stadium-mosquitto:stadium-mosquitto
      - client-mosquitto:client-mosquitto

networks:
  congestion-network:
    driver: bridge
  stadium_network:
    external: true
    name: stadium-event-generator_stadium-network
  client_network:
    external: true
    name: service-to-client-broker_client-network
